*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 80px;
    background-color: #331436;
    display: flex;
    align-items: center;
    padding: 20px;
}
#title_header{
    font-weight: 400;
    color: #FFFFFF;
    align-items: start;
    flex-grow: 1;
    margin-left: 20px;

}

#Button-loguin{
    width: 240px;
    height: 48px;
    background-color: #CB4F57;
    color: #FCF4B6;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}

main {
    background-color: #7A1745;
    display: flex;   
    align-items: center;
    justify-content: space-around;
}
main img{
    width: 540px;
    height: 437px;
}

.container_text{
    display: flex;
    flex-direction: column;
    height: 240px;
    width: 550px;
    gap: 24px;
    margin-left: 170px;
    margin-right: 60px;
    align-items: center;
    color: #FFFFFF;
}

.container_text h1 {
    font-weight: 700;
    font-size: 40px;
}
.container_text h1 span{
    color: #FCF4B6;
}
.container_text p {
    text-align: center;
    line-height: 30px;
    font-weight: 200;
    font-size: 18px;
}
.container_text button{
    width: 240px;
    height: 48px;
    background-color: #CB4F57;
    color: #FCF4B6;
    gap: 24px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.container{
    margin: 30px 0px 30px 0px;
}

.section_2 {
    display: flex;
    flex-direction: column;
    margin: 60px 170px;
    align-items: center;
}

#container_2{
    text-align: start;
    width: 1100px;
}

#container_manager{
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#container_2 h2{
    font-weight: bold;
    font-size: 40px;
}
#container_2 p{
    font-size: 16px;
}

.buttons_same{
    width: 240px;
    height: 48px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    color: #ffffff;
    background-color: #331436;
    padding: 12px;
    cursor: pointer;
}



.section_2 ul{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 35px;
    list-style: none;
}
.section_2 ul li p{
    margin: 12px 0;
}

.section_2 ul p{
    color: #331436;
    font-size: 16px;
}

.sub_tittle{
    font-size: 20px;
    font-weight: bold;
}

#section_3{
    background-color: #f5efc7;
    flex-direction: column;
    height: 552px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}

#container_3{  
    height: 168px;
    text-align: center;
    margin: 0 170px 0 170px;

}

#container_3 h2{  
    font-size: 40px;
    color: #331436;
    margin-bottom: 24px;
}
#container_3 p{  
    color: #331436;
    margin-bottom: 24px;    
}
/*  */

#list_iframe{  
  display: flex;
  list-style: none;  
  gap: 30px;
   
}

.container_iframe{
    align-items: center;
    text-align: center;
}

.container_iframe p {
    margin-top: 20px;
    font-size: 20px;
}

.container_iframe .sub {
    font-size: 16px;
}
#section_4, #section_login, #section_kanban{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 60px 170px 60px 170px;
}
.section4{
    align-items: flex-start;
    justify-content: center;
}

.section4 h2{
    font-size: 40px;
    color: #331436;
    margin-bottom: 24px;
}
.section4 p {
    font-size: 16px;
    color: #331436;
}

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; 
}

#email, #name, #password{
    height: 36px;
    border-radius: 10px;
    border: solid 1px #000;
    padding: 12px;
    width: 520px;
}

.tittle_label{
    color: #331436;
    font-weight: bold;
    font-size: 14px;
}

footer{
    background-color: #331436;
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    align-items: center;
    grid-row: auto;
}

.text_footer{
    display: flex;
    color: #FFFFFF;
    gap: 50px;
}


/* login */

#main_login {  
    justify-content: space-between ;
    height: 70vh;
    
}

#section_login{
    height: 58vh;
}

/* kaban */

#body_kanban{
    background-color: rgba(0, 0, 0, 30%);
}

#section_kanban{
    justify-content: space-evenly;
    padding: 60px 170px;
}

.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    padding: 10px;
    padding-left: 8px;
    border-radius: 5px;
    border: 1px solid #94949452;
    background-color: transparent;
    text-align: start;
}

.search-icon {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
}
nav {
    display: flex;
    align-items: center;
    
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding-right: 40px;
    
}


.container_kanban {
    padding: 10px 16px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-items: auto;
    gap: 10px;
    height: 627px;
}

.card_container{
    width: 200px;
    
}

.todo_task{
    width: 200;
    height: 130;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #F8F2FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    
}
.todo_task h3 {
    color: #331436;
    font-weight: 900;
    font-size: 12px;
    
}

.card_header, .sub_kaban{
    color: #00000077;
}
.card_header p {
    font-size: 10px;
}

.card_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.high{
    background-color: #CB4F57;
    border: solid 1px #7A1745;
    color: #7A1745;
    padding: 5px;
    font-weight: bold;
    border-radius: 50px;
}

.mid{
    background-color: #EB9961;
    border: solid 1px #CB4F57;
    color: #CB4F57;
    padding: 5px;
    font-weight: bold;
    border-radius: 50px;
}

.low{
    background-color: #FCF4B6;
    border: solid 1px #EB9961;
    color: #CB4F57;
    padding: 5px;
    font-weight: bold;
    border-radius: 50px;
    
}

.card_footer {
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: space-between;

}

.card_user {
    display: flex;
    gap: 2px;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: #2e4b83;
    color: #ffff;
    font-size: 10px;
    border-radius: 50px;
    
}

.it {
    background-color: #801E8F;
}
.js {
    background-color: #2E4B83;
}
.ns {
    background-color: #D92B93;
}
.lc {
    background-color: #1A712D;
}
.gm {
    background-color: #AF4A00;
}




